html, body, #sapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #e9ecef;
	color: #263238;
	overflow: hidden;
	overscroll-behavior-y: none;
	font-family: sans-serif;
}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
input, input:before, input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	user-select: initial;
}